body{
    margin: 0;
}
.banner{
    position: relative;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
}